.chart-bar { -fx-bar-fill: #eeb6c2; }
.default-color0.chart-bar { -fx-bar-fill: #eeb6c2; }
.default-color1.chart-bar { -fx-bar-fill: #ffe0a3; }
.default-color2.chart-bar { -fx-bar-fill: #ffeeb3; }
.default-color3.chart-bar { -fx-bar-fill: #b6e2f2; }
.default-color4.chart-bar { -fx-bar-fill: #b6d7f2; }